.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

body {
    background-color: rgb(255, 255, 255);
}

#calc {
    color: white;
    background-color: rgb(0, 0, 0);
}

#btn_1, #btn_2, #btn_3, #btn_4, #btn_5, #btn_6, #btn_7, 
#btn_8, #btn_9, #btn_0, #btn_sum, #btn_diff, #btn_mult, 
#btn_sqrt, #btn_sep {
    color: white;
    background-color: blue; 
}

#btn_calc {
    color: white;
    background-color: green;
}

#btn_clr {
    background-color: rgb(255, 0, 0);
}